.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f7f6;
}

.dashboard-content {
  display: flex;
  padding: 20px 30px;
  gap: 30px;
  flex-grow: 1;
  overflow-y: auto;
}

.offers-list-section {
  flex: 2; /* This makes the left column take up 2/3 of the space */
}

.metrics-section {
  flex: 1; /* This makes the right column take up 1/3 of the space */
}